@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Courier New', Courier, monospace;
}

.header { 
    height: 100px;
    line-height: 100px;
    width: 100%;
    font-size: 40px;
    text-align: center;
    color: #f59e42;
    font-weight: 600px;
}

.button { 
    margin: 0 auto;
    display: block;
    background-color: #f59e42;
    color: white;
    height: 40px;
    width: 180px;
    line-height: 40px;
    border-radius: 10px;
}

.container {
    margin: auto;
    width: 95%;
    padding: 10px;
    margin-top: 50px;
    font-size: 24px;
}

h2 { 
    font-size: 30px;
}

.hero-bullets { 
    padding: 40px;
}

#right { 
    margin-top: 50px;
}

#screenshot { 
    margin: 0 auto;
    max-height: 570px;
}

/* desktop and bigger */
@media only screen and (min-width: 992px) {
    .wrapper {
        display: flex;
    } 
    #left {
        flex: 0 0 65%;
    }
    #right {
        width: 20%;
        flex: 1;
        margin-top: 50px;
    }
    .container { 
        padding-top: 100px;
        width: 80%;
    }
    .item { 
        flex: 0 32% !important;
        margin-bottom: 2% !important; /* (100-32*3)/2 */
    }
    .form { 
        width: 50%;
    }
}

.picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px;
  }
  
.item {
    flex: 0 100%;
    height: 100px;
    margin-bottom: 10%;
    line-height: 100px;
    text-align: center;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    font-size: 22px;
}

.title { 
    margin: 20px;
}

.form { 
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.form-header { 
    margin: 0 auto;
    text-align: center;
}

.form-element { 
    padding: 15px;
    font-size: 22px;
}

.form-select { 
    border-radius: 5px;
}

.form-input { 
    border-radius: 5px;
}

.form-button { 
    margin-top: 20px;
}

#country-code-select { 
    max-width: 150px;
    margin-bottom: 10px;
}

#timezone-select { 
    max-width: 300px;
}